<div class="row">
  <div class="top">
    <h1>Statevis</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="visuals">
      <div id="graph-view"></div>
    </div>
  </div>
  <div class="col">
    <div id="controls">
      <div id="store-view"></div>
    </div>
  </div>
</div>
