<div class="store-view">
  <h2>Store View</h2>

  <div class="row">
    <div class="relations col">
      <h3>Relations</h3>

      <form action="">
        <input id="input-load" name="" type="file" value=""/>

        <div class="scrollable relation-list">
          <table class="relations">
            {{#relations}}
              <tr class="triple">
                <td><input type="text" value="{{0}}"></td>
                <td><input type="text" value="{{1}}"></td>
                <td><input type="text" value="{{2}}"></td>
              </tr>
            {{/relations}}
          </table>
        </div>

      </form>

    </div>

    <div class="entities col">
      <h3>Entities</h3>

      <div class="scrollable entity-list">
        <ul>
          {{#entities}}
            <li class="entity-list-item">{{.}}</li>
          {{/entities}}
        </ul>
      </div>

    </div>
  </div>

</div>
