html, body {
  background-color: rgb(40, 40, 40);
  font-family: monospace;
  color: rgb(255, 255, 255);
  font-family: monospace;
}

h2, h3 {
  position: relative;
  background-color: rgb(40, 40, 40);
  padding: 5px;
  display: table;
  left: 10px;
}

h2 {
  top: -35px;
}

h3 {
  top: -30px;
}

input {
  background-color: rgba(60, 60, 60, 0.8);
  padding: 2px;
  width: auto;
}

.container {
  margin: auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 3px;
  margin: 3px;
}

.scrollable {
  overflow: auto;
}

div.relation-list {
  height: 40em;
}

div.entity-list {
  height: 40em;
}

div.relations {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

div.entities {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

table.relations {
  width: 100%;
}

tr.triple {
  width: 100%;
}

tr.triple td input {
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  display: table-cell;
  width: 100%;
}

.btn {
  background-color: rgba(180, 180, 180, 0.8);
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#store-view {
  height: 60em;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

#graph-view {
  height: 60em;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
}

div.graph {
  height: 50em;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  overflow: auto;
}
